BR2_x86_64=y
BR2_CCACHE=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOOLCHAIN)"
BR2_TOOLCHAIN_EXTERNAL_GCC_5=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_2=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="mongo"
BR2_TARGET_GENERIC_ISSUE="MongoDB"
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_NUMACTL=y
BR2_PACKAGE_MONGO=y
BR2_PACKAGE_MONGO_3_0=y
BR2_PACKAGE_MONGO_SSL=y
BR2_PACKAGE_MONGO_MONGOD=y
BR2_PACKAGE_MONGO_MONGOS=y
