BR2_x86_64=y
BR2_DL_DIR="$(BR2_EXTERNAL)/dl"
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL)/local.mk"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patch"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(BR2_EXTERNAL)/project-toolchain/output/host/usr"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_0=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/overlay"
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_MONGODB=y
BR2_PACKAGE_MONGODB_SSL=y
BR2_PACKAGE_MONGODB_MONGO=y
BR2_PACKAGE_MONGODB_MONGOD=y
BR2_PACKAGE_MONGODB_MONGOS=y
BR2_PACKAGE_MONGODB_MONGOPERF=y
